/* @theme unpoly3-slides */

@import 'default';

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');

html {
  /* The Marp default CSS sets `font-weight: 600` for elements like headings,
     but our font has no 600 weight available. */
  --base-text-weight-semibold: 700;
}

section {
  /* --highlightColor-color: #dd4232; */
  font-family: Roboto, sans-serif;
  font-size: 25px;
  line-height: 1.35;
  --highlightColor: #ff4433;
  --textColor: #24292e;
  --secondaryColor: #3182bd;
}

section:not(.no-watermark):not(.title):not(.separator):not(.tweet) {
  background-image: url('./images/unpoly3.svg');
  background-position: top 40px right 40px;
  background-size: 250px;
  background-repeat: no-repeat;
}

section.rails-specific {
  background-image: url('./images/rails.svg') !important;
  background-size: 180px !important;
  --highlightColor: #D30001;
  box-shadow: inset 0 15px 0 var(--highlightColor), inset 0 -15px 0 var(--highlightColor);
}

.muted {
  opacity: 0.5;
}

code, pre {
  background-color: rgba(245, 245, 245, 0.8);
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  font-family: 'Roboto Mono', monospace;
}

/*
code {
  background-color: transparent;
  padding: 0 0.2em;
  font-size: 1.02em;
}
*/

.center {
  text-align: center;
}

h1 {
  color: var(--highlightColor);
  position: relative;
}

section.secondary-color {
  --highlightColor: var(--secondaryColor);
}

section.separator {
  background-color: #555555;
}


section.tweet {
  background-color: #1DA1F2;
  color: white;
  font-weight: bold;
}

section.tweet time {
  display: block;
  opacity: 0.6;
}

h1 code,
h2 code,
h3 code,
h4 code {
  background: none;
  padding: 0;
}

/*
h1:before {
  content: '';
  position: absolute;
  top: 0.2em;
  left: -5em;
  width: 4.5em;
  background-color: #f43;
  height: 0.8em;
  opacity: 0.5;
}
*/

h4 {
  margin-top: 0.3em;
  margin-bottom: 0.4em;
}


.row {
  display: flex;
  gap: 2em;
  justify-content: flex-start;
}


.col {
  flex: 1 1 0;
}

.title {
  margin: 0 auto;
}

.title--logo {
  width: 600px;
}

.title--author {
  border-top: 2px solid currentColor;
  font-weight: bold;
  width: 380px;
  text-align: center;
  margin: 15px auto 0;
  padding-top: 10px;
}

.title--author a[href] {
  color: var(--textColor);
  text-decoration: none;
}


section.topic h1 {
  font-size: 2.6em;
  font-family: Orbitron, sans-serif;
  text-transform: uppercase;
}

section.topic h1 + h2 {
  margin-top: -0.5em;
  color: #777777;
}

h1.topic {
  font-size: 2.2em;
  font-family: Orbitron, sans-serif;
  text-transform: uppercase;
}

section.pro:before,
section.new:before {
  content: 'EXT';
  background-color: white;
  position: absolute;
  left: -110px;
  top: -60px;

  top: 0;
  left: 0;
  text-align: center;
  padding: 90px 0 10px;
  width: 260px;
  color: white;
  background-color: var(--textColor);
  font-size: 26px;
  font-weight: bold;
  transform: rotate(-45deg);
  xtransform-origin: 0% 100%;
  transform-origin: 0% 135%;
  /* box-shadow: 0 5px 40px rgba(40, 40, 40, 0.2); */
}

section.new:before {
  content: 'NEW';
  background-color: var(--highlightColor);
}


section.align-top {
  justify-content: flex-start;
}

section.no-padding {
  padding: 0;
}

section.small-padding {
  padding: 2em;
}

.positive {
  color: #35be4c;
}

.negative {
  color: #ff5050;
}

/*
.learning-box {
  display: block;
  margin-bottom: 1em;
  font-weight: bold;
  
  border: 1px solid #f83;
  border-radius: 3px;
  padding: 0.5em;
  padding-left: 2em;
  background-color: #fff6ee;
  position: relative;
}

.learning-box::before {
  content: '💡';
  position: absolute;
  left: 0.5em;
  top: 0.5em;

}
*/

th {
  text-align: left;
}

/* img {
  width: auto;
  max-width: 100%;
  display: inline-block;
  margin: 0 !important;
} */


img.picture {
  border: 1px solid #555;
  border-radius: 3px;
  box-shadow: 0 4px 9px rgba(40, 40, 40, 0.2);
}

a[href] {
  text-decoration: underline;
  color: var(--highlightColor);
}

.hljs-comment {
  color: #868886 !important;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding-left: 1em;
  position: relative;
}

li:before {
  content: '●';
  xfont-size: 0.8em;
  color: var(--secondaryColor);
  position: absolute;
  left: 0;
}

.tag {
  background-color: var(--textColor);
  color: white;
  font-weight: bold;
  display: inline-block;
  padding: 0.1em 0.3em 0.05em;
  border-radius: 0.1em;
  font-size: 0.8em;
  text-transform: uppercase;
}

.admonition {
  padding: 0.7em;
  background-color: #eee;
  color: #444;
  background-color: #fdf3d0;
  color: #6a4b16;
  margin: 0.6em 0;
}

.admonition > *:last-child {
  margin-bottom: 0;
}

.color-text {
  color: var(--textColor);
}
